<style>
  .td-box--dark p > a {
    color: #fca121 !important;
    text-decoration: underline;
  }
</style>
{{ $regular_pages := .regular_pages }}
<section class="row td-box td-box--dark position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<div class="h4 mb-0">
      <h2>Latest Updates</h2>
      <p>&nbsp;</p>
      <div class="col">
        <div class="row">
          {{ range first 3 (where $regular_pages "Params.tags" "intersect" (slice "company-fyi")) }}
          <div class="col-lg-4 mb-5 mb-lg-0 text-center">
            <div class="mb-4 h1">
              {{ $icon := default "<i class=\"fa-solid fa-bolt\"></i>" .Params.icon }}
              {{ safeHTML $icon }}
            </div>
            <h4 class="h4">
              {{ .Title }}
            </h4>
            <p><a href="{{ .Permalink }}">{{ T "ui_read_more" }} …</a></p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
	</div>
</section>
