{{ if and (.GitInfo) (site.Params.project) -}}
<div class="text-muted mt-5 pt-3 border-top">
  {{ T "post_last_mod" }} {{ .Lastmod.Format .Site.Params.time_format_default -}}
  {{ with .GitInfo }}: {{/* Trim WS */ -}}
    <a href="https://gitlab.com/{{ site.Params.project }}/commit/{{ substr .Hash 0 8 }}">
      {{- .Subject }} (<code>{{ substr .Hash 0 8 }}</code>) {{- /* Trim WS */ -}}
    </a>
  {{- end }}
</div>
{{ end -}}
