---
title: Handbook Preferences
description: Control your Handbook preferences
type: docs
---

<noscript>
<div class="alert alert-danger" role="alert">
  JavaScript needs to be enabled for preferences notifications to work
</div>
</noscript>

{{< cardpane >}}
{{< card header="**Notification Preference**" >}}
<div class="form-check form-switch mb-3 h4">
  <input class="form-check-input" type="checkbox" role="switch" id="showNotificationSwitch" disabled>
  <label class="form-check-label" for="showNotificationSwitch">Show Notifications</label>
</div>
<div class="form-check form-switch mb-3 h4">
  <input class="form-check-input" type="checkbox" role="switch" id="forceAutohideSwitch" disabled>
  <label class="form-check-label" for="forceAutohideSwitch">Force Autohide</label>
</div>
<div class="form-check form-switch mb-3 h4">
  <input class="form-check-input" type="checkbox" role="switch" id="checkForPageUpdatesSwitch" disabled>
  <label class="form-check-label" for="checkForPageUpdatesSwitch">Check for page updates</label>
</div>
<hr>
<p class="h4"><strong>Quick Actions</strong></p>
<p><button type="button" id="disableNotificationsBtn" class="btn btn-warning" onclick="disableNotifications()" disabled>Disable Notifications and Cleanup</button><br>
<p><button type="button" id="delAllCookiesBtn" class="btn btn-danger" onclick="delAllNotificationCookies()" disabled>Delete All Notification Cookies</button></p>

{{< /card >}}
{{< card header="**Notification Time Limits**" >}}
<div class="form-floating mb-3">
<select id="dangerHideMenu" class="form-select" aria-label="Hide danger notifications for" disabled>
  <option value="0">Never</option>
  <option value="1" selected="selected">1 Day (default)</option>
  <option value="7">1 Week</option>
  <option value="30">1 Month</option>
  <option value="365">1 Year</option>
</select>
<label for="dangerHideMenu">Hide danger notifications for</label>
</div>
<div class="form-floating mb-3">
<select id="warningHideMenu" class="form-select" aria-label="Hide warning notifications for" disabled>
  <option value="0">Never</option>
  <option value="1">1 Day</option>
  <option value="7" selected="selected">1 Week (default)</option>
  <option value="30">1 Month</option>
  <option value="365">1 Year</option>
</select>
<label for="warningHideMenu">Hide warning notifications for</label>
</div>
<div class="form-floating">
<select id="defaultHideMenu" class="form-select" aria-label="Hide other notifications for" disabled>
  <option value="1">1 Day</option>
  <option value="7" selected="selected">1 Week</option>
  <option value="30">1 Month</option>
  <option value="365">1 Year (default)</option>
</select>
<label for="defaultHideMenu">Hide other notifications for</label>
</div>
{{< /card >}}
{{< /cardpane >}}

<div class="pb-4">
{{< card header="**Server Side notifications**">}}
{{< server-notifications >}}
{{< /card >}}
</div>

<div class="">
{{< card header="**Developer Tools**">}}
<div class="pb-4">
{{< panel header="**Warning**" header-bg="warning" >}}
Developer tools can contain unfinished features and occasional buggy JavaScript.
They are used to help test out features or provide tools used to develop and improve the handbook.  Enable
at your own risk.
{{< /panel >}}
</div>
<div class="form-check form-switch mb-3 me-3 h4 float-start">
  <input class="form-check-input" type="checkbox" role="switch" id="enableDevToolsSwitch" disabled>
  <label class="form-check-label" for="enableDevToolsSwitch">Enable Developer Tools</label>
</div>
<div class="form-check form-switch mb-3 h4 float-start">
  <input class="form-check-input" type="checkbox" role="switch" id="showDevNotificationSwitch" disabled>
  <label class="form-check-label" for="showDevNotification">Show Developer Tools Notification Everytime</label>
</div>
{{< /card >}}
</div>
