<div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3">
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js" defer></script>

{{ $customJS := resources.Get "js/custom.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $customJS.RelPermalink }}" defer></script>
{{ else }}
{{ $customJS := $customJS | minify | fingerprint }}
<script src="{{ $customJS.RelPermalink }}" integrity="{{ $customJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}

{{ $notificationsJS := resources.Get "js/notifications.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $notificationsJS.RelPermalink }}" defer></script>
{{ else }}
{{ $notificationsJS := $notificationsJS | minify | fingerprint }}
<script src="{{ $notificationsJS.RelPermalink }}" integrity="{{ $notificationsJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}

{{ if eq .Title "Handbook Preferences" }}
{{ $prefsJS := resources.Get "js/notification-preferences.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $prefsJS.RelPermalink }}" defer></script>
{{ else }}
{{ $prefsJS := $prefsJS | minify | fingerprint }}
<script src="{{ $prefsJS.RelPermalink }}" integrity="{{ $prefsJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
{{ end }}

{{ if eq .Title "Notification Generator" }}
{{ $genJS := resources.Get "js/notification-generator.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $genJS.RelPermalink }}" defer></script>
{{ else }}
{{ $genJS := $genJS | minify | fingerprint }}
<script src="{{ $genJS.RelPermalink }}" integrity="{{ $genJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
{{ end }}

{{/* The following is for the internal handbook */}}
{{ if eq .Site.BaseURL "https://internal.gitlab.com/" }}
{{ $internalJS := resources.Get "js/internal.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $internalJS.RelPermalink }}" defer></script>
{{ else }}
{{ $internalJS := $internalJS | minify | fingerprint }}
<script src="{{ $internalJS.RelPermalink }}" integrity="{{ $internalJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
{{ else }}
{{ $devtoolsJS := resources.Get "js/dev-tools.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $devtoolsJS.RelPermalink }}" defer></script>
{{ else }}
{{ $devtoolsJS := $devtoolsJS | minify | fingerprint }}
<script src="{{ $devtoolsJS.RelPermalink }}" integrity="{{ $devtoolsJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
{{ end }}
{{ if .Page.Store.Get "hasTableau" }}
<script type='module' src='https://10az.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script>
{{ end }}

{{ with .Site.Params.search.algolia }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
    docsearch({
      container: '#docsearch',
      appId: '{{.appId}}',
      apiKey: '{{.apiKey}}',
      indexName: '{{.indexName}}',
      insights: true
    });
</script>
{{ end }}
